*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#menu ul {
    @media screen {
        padding:0px;
        margin:0px;
        background-color:#ef9394;
        list-style:none;
    }
    
}

#menu ul li { 
    display: inline;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu ul li a {
    padding: 5px 20px;
    display: inline-block;
    border-radius: 100px;

    /* visual do link */
    background-color:#fdc2c1;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #fdc2c1;
    
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #4B3B47;
}

section {
    height: 100vh;
    width: 100%;
    background: #e2e2;
}

.product-c{
    float: left;
    width: 33.33%;
    border-radius: 80px;
    
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
    
  }

.product-content{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;

    display: flex;
    padding: auto;
    text-align: center;
    height: 300px;
    background: #fff;
    border-radius: 12px;
}

#conteudo{
    @media screen {
        border-radius: 25px;
        padding: 25px;
        width: 200px;
        height: 150px;
        background-color:#BDA9CE;
        position: relative;
        margin-left: 50px;
        margin-top:70px; 
    }
    
}

#conteudo h1{
    text-align: center;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#conteudo p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border-color: lavender;
    color: #4B3B47;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

form{
    display: grid;
}

#botao:hover{
    background-color: #4B3B47;
    color: #ffffff;
}

footer{
    height: 75px;
    padding: 25px;
    text-align: center;
    background-color:#4B3B47 ;
    color: #ffffff;
    font-family: serif;
}
